In [2]:
conda install pymongo

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo
import pandas as pd
import json

In [4]:
client = pymongo.MongoClient("mongodb://localhost:27017")

In [5]:
df = pd.read_csv("my_file.csv")

In [6]:
df.head()

   Unnamed: 0           Name         Comment
0           0     toumi_lina          ['â¤ï¸']
1           1    nawfeldjobi      ['â¤ï¸â¤ï¸â¤ï¸']
2           2     taslim_rfs  ['â¤ï¸â¤ï¸â¤ï¸â¤ï¸â¤ï¸']
3           3  angelique_mlk           ['ğŸ˜']
4           4  sinyorina_16_          ['ğŸ˜ğŸ˜']

In [7]:
df.tail()

    Unnamed: 0                  Name          Comment
8            8     poet_husseinalali            ['ğŸ’']
9            9         boukhichanour  ['ğŸŒ¼ğŸµğŸŒ¸ğŸŒ¹â¤â¤ love']
10          10         hideyahammami           ['ğŸ˜ğŸ˜']
11          11  chayma_chaymouta1234           ['â¤ï¸']
12          12             rourouete          ['ğŸ”¥ğŸ”¥ğŸ”¥']

In [8]:
df.shape

(13, 3)

In [9]:
data = df.to_dict(orient = "records")

In [10]:
data

[{'Unnamed: 0': 0, 'Name': 'toumi_lina', 'Comment': "['â¤ï¸']"},
 {'Unnamed: 0': 1, 'Name': 'nawfeldjobi', 'Comment': "['â¤ï¸â¤ï¸â¤ï¸']"},
 {'Unnamed: 0': 2, 'Name': 'taslim_rfs', 'Comment': "['â¤ï¸â¤ï¸â¤ï¸â¤ï¸â¤ï¸']"},
 {'Unnamed: 0': 3, 'Name': 'angelique_mlk', 'Comment': "['ğŸ˜']"},
 {'Unnamed: 0': 4, 'Name': 'sinyorina_16_', 'Comment': "['ğŸ˜ğŸ˜']"},
 {'Unnamed: 0': 5, 'Name': 'sanaothmeni', 'Comment': "['ğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥']"},
 {'Unnamed: 0': 6, 'Name': 'besbesali1', 'Comment': "['ğŸ˜ğŸ˜']"},
 {'Unnamed: 0': 7, 'Name': 'rapproflowfloo', 'Comment': "['ğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥ğŸŒ¹']"},
 {'Unnamed: 0': 8, 'Name': 'poet_husseinalali', 'Comment': "['ğŸ’']"},
 {'Unnamed: 0': 9, 'Name': 'boukhichanour', 'Comment': "['ğŸŒ¼ğŸµğŸŒ¸ğŸŒ¹â¤â¤ love']"},
 {'Unnamed: 0': 10, 'Name': 'hideyahammami', 'Comment': "['ğŸ˜ğŸ˜']"},
 {'Unnamed: 0': 11, 'Name': 'chayma_chaymouta1234', 'Comment': "['â¤ï¸']"},
 {'Unnamed: 0': 12, 'Name': 'rourouete', 'Comment': "['ğŸ”¥ğŸ”¥ğŸ”¥']"}]

In [12]:
db = client["WebScraping"]

In [13]:
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'WebScraping')

In [14]:
db.instagram.insert_many(data)